                       /********** General **********/

* {
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

.container {
  width: 90%;
  margin: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
}

                       /********** Header **********/

header {
  color: #dd4b4b;
  height: auto;
  padding: 15px 0;
  border-bottom: solid 2px #999;
  background-color: #fff;
}

header #name img {
  width: 290px;
  height: 45px;
}

header nav li a {
  color: #E84979;
  text-transform: uppercase; 
  font-size: 19px;
  letter-spacing: 0.1px;
}

header li a:hover {
  border-bottom: 3px solid #A54545;
  padding-bottom: 4px;
}


header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

header .flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .flex ul {
  display: flex;
  margin: 10px 0 5px;
}

header .flex ul li {
  margin-left: 30px;
}

header .flex ul li:nth-child(3) {
  margin-right: 30px;
}
 


                       /********** Top **********/

#top {
  background-color: #ffdbdb;
  min-height: 400px;
  text-align: center;
  color: #fff;
  width: 100%;
  
  display: table;
}

#top .container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#top h2 {
  margin: 0;
  padding-bottom: .5em;
  font-size: 2.5rem;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
 
#top li {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 1.25em;
}

#top ul li:not(.first):before {
  content: "\2735";
  padding: 0 .5em;
}
 
                      /********** Main **********/

#main {
  margin: 3rem 0;
}

#main .cell {
  margin: 1rem;
}

#main .cell img {
  max-width: 100%;
  display: block;
}
 

                      /********** Footer **********/

footer {
  color: #fff;
  font-size: 19px;
}

footer h2, footer p {
  background-color: #E84979;
  text-align: center;
}

footer h2 {
  width: 200px;
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  margin: 0  auto .9em auto;
  text-shadow: -2px 3px 3px #555;
}

footer p {
  height: 50px;
  margin: 0;
  line-height: 40px;
  font-size: 18px;
}

footer .flex {
  display: flex;
  flex-direction: column;
  background-color: #C0C0C0;
  justify-content: space-around;
  padding: 1.5em 0;
  align-items: center;
}

footer #icons {
  order: 1;
}

footer #icons a {
  display: inline-block;
}

footer #icons a span.text {
  display: none;
}

footer i::before {
  background-color: #E84979;
  width: 34px;
  height: 34px;
  display: block;
  line-height: 34px;
  margin-right: 10px;
  border-radius: 50%;
  text-align: center;
}

footer form {
  margin-bottom: 2.5em;
}

footer form label {
  color: #E84979;
  padding-bottom: 5px;
  letter-spacing: 2px;
  font-weight: bold;
}
 
footer form input, footer form textarea {
  background-color: #D3D3D3;
  outline: none;
  color: #fff;
  border: 1px solid #E84979;
  width: 250px;
  border-radius: 5px;
  padding: 10px;
  padding-left: 10px;
  margin: 7px 0 20px 0;
}

footer form input:focus, footer form textarea:focus {
  outline: 1px solid #E84979;
  box-shadow: 0px 0px 3px 2px #E84979;
}

footer form textarea {
  width: 250px;
  height: 130px;
}

footer form button {
  display: block;
  margin: 0 auto;
  color: #fff;
  font-size: 20px;
  padding: 10px 23px;
  border-radius: 3px;
  border: 1px solid #E84979;
  background-color: #E84979;
  transition: all 0.5s ease-in-out;
}

footer form button:hover {
  background-color: #fff;
  color: #E84979;
  border-color: #E84979;
}

 

 

                       /********** Media **********/
  
@media screen and (min-width: 760px) {
  .container {
    width: 80%;
  }
  
  header .flex {
    flex-direction: row;
    justify-content: space-between;
  }
  
  #top h2 {
    font-size: 3rem;
  }
   
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: calc(50% - 2rem);
  }
  
  footer .flex {
    flex-direction: row;
  }
  
  footer #icons {
    order: 0;
  }
  
  footer #icons a {
    display: block;
  }
  
  footer #icons a:not(:last-child) {
    margin-bottom: 1.5em;
  }
  
  footer #icons a span.text {
    display: inline;
  }
  
  footer form {
    margin: 0;
  }
}
